<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <% @cities.each do |city| %>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag city.image_url, class:"card-img-top", alt: city.name %>
        <div class="card-body">
          <h5 class="card-title"><%=city.name%></h5>
          <%= link_to  "View #{city.name} Businesses" , city_path(city.slug), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
