<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to  city.name , city_path(city.name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
