<style>
  section{
  position: relative;
  z-index: 1;
  height: 200px;
}


  section::before {
    background: url("https://images.unsplash.com/photo-1525610553991-2bede1a236e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=1000&q=80");
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  opacity: .8;
  }

  .title {
    padding-top: 75px;
    font-size: 100px;
  }


</style>

<section class="bgimage">
  <center>
    <div>
      <h1 class='title'>About</h1>
    </div>
  </center>
</section>
<div class="container mt-3">
  <p>
    With the increase of our communities being indoors and even
     <a  class="text-secondary" href="https://www.chicagotribune.com/coronavirus/ct-coronavirus-illinois-20200316-pisinqlypbbgrjjovxfx4hdvme-story.html">
       restaurants being closed
     </a>, now more than ever do our communities need to come together to support your local economies.  This site was created to increase awareness of how to support local businesses in online channels such as purchasing a gift card or using their online store.  Hopefully with this raised awareness, we can try to mitigate the impact COVID-19 has on our local economy.
  </p>
  <p>
    Contact: <a class="text-secondary" href="mailto:mike@mikejahnphoto.com" target="_top">mike@mikejahnphoto.com</a>
  </p>
  <p>
    Development Contributors:
  <p>
  <ul style="list-style-type: none;">
    <li><a class="text-secondary" href="https://github.com/mikejahn">Mike Jahn</a></li>
    <li><a class="text-secondary" href="https://github.com/whuang8">William Huang</a></li>
    <li><a class="text-secondary" href="https://github.com/MattAdelberger">Matt Adelberger</a></li>
    <li><a class="text-secondary" href="https://github.com/jonathanyeong">Jonathan Yeong</a></li>

  </ul>

</div>
